<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<h1 class="text-center">Instructions</h1>
		<ul class="list-group">
		  <li class="list-group-item">1. registered Successfully</li>
		  <li class="list-group-item">2. No Multiple Attempts</li>
		  <li class="list-group-item">3. ON Multiple choice questions you will need to choose the right answer to a question</li>
		  <li class="list-group-item">4. you can take the same quiz as many times as you want to</li>
		  <li class="list-group-item">5. your highest score attempt will be saved and will count as your final score for the quiz</li>
		</ul>
	</div>
</div>
